[submodule "blog"]
	path = blog
	url = https://github.com/libreim/blog.git
[submodule "awesome"]
	path = awesome
	url = https://github.com/libreim/awesome.git
[submodule "calendar"]
	path = calendar
	url = https://github.com/libreim/calendar.git
[submodule "assets"]
	path = assets
	url = https://github.com/libreim/assets.git
[submodule "home"]
	path = home
	url = https://github.com/libreim/home.git
[submodule "foro"]
	path = foro
	url = https://github.com/libreim/foro.git
